{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Odebrane wiadomości{% endblock %}

{% block body %}
    <div class="content">
        <div class="heading">
            Wyślij Nową Wiadomość
        </div>

        {{ form(form) }}
    </div>
{% endblock %}
