{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Odebrane wiadomości{% endblock %}

{% block body %}
    <div class="panel">
        <h3>Wyślij nową wiadomość</h3>
        <hr>

        {{ form(form) }}
    </div>
{% endblock %}
