{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Zmień E-Mail{% endblock %}

{% block body %}
    <div class="panel">
        <h3>Zmień E-Mail</h3>
        <hr>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}

        {{ form(form) }}
    </div>
{% endblock %}
