{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Zmień hasło{% endblock %}

{% block body %}
    <div class="content">
        <div class="heading">
            Zmień Hasło
        </div>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}

        {{ form(form) }}
    </div>
{% endblock %}
