<div class="panel">
    <a href="{{ path('user') }}" class="btn btn-success">Informacje</a>
    <a href="{{ path('user_change_password') }}" class="btn btn-success">Zmień hasło</a>
    <a href="{{ path('user_change_email') }}" class="btn btn-success">Zmień E-Mail</a>
    <a href="{{ path('user_change_avatar') }}" class="btn btn-success">Zmień Avatar</a>
</div>